@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
.gpt-translate-1542 {
    border: none;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    z-index: 9999;
}

.gpt-translate-1542:hover { 
    filter: contrast(0.4)
}

.spinner-gpt {
    animation: spinner infinite 0.5s;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.translated {
    margin: 1rem 0;
    background-color:#c3e2e6 ;
    font-size: inherit;
    font-family: 'Courier Prime', monospace;
    padding: 1rem;
    border-radius: 0.50rem;
    font-weight: inherit;
    color: #292929;
}

.hide {
    display: none;
}